USE [MathAssessmentDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertTeacher]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_UpsertTeacher]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertStudent]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_UpsertStudent]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecalcExamSummary]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_RecalcExamSummary]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentExams]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_GetStudentExams]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExamDetails]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_GetExamDetails]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateImport]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_CreateImport]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExam]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_CreateExam]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddExamTasks_Batch]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_AddExamTasks_Batch]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddExamTask]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP PROCEDURE [dbo].[sp_AddExamTask]
GO
ALTER TABLE [dbo].[Students] DROP CONSTRAINT [FK_Students_Teachers]
GO
ALTER TABLE [dbo].[ExamTasks] DROP CONSTRAINT [FK_ExamTasks_Exams]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [FK_Exams_Teachers]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [FK_Exams_Students]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [FK_Exams_ExamImports]
GO
ALTER TABLE [dbo].[ExamImports] DROP CONSTRAINT [FK_ExamImports_Teachers]
GO
ALTER TABLE [dbo].[Teachers] DROP CONSTRAINT [DF_Teachers_CreatedAt]
GO
ALTER TABLE [dbo].[Teachers] DROP CONSTRAINT [DF_Teachers_IsActive]
GO
ALTER TABLE [dbo].[Students] DROP CONSTRAINT [DF_Students_CreatedAt]
GO
ALTER TABLE [dbo].[Students] DROP CONSTRAINT [DF_Students_IsActive]
GO
ALTER TABLE [dbo].[ExamTasks] DROP CONSTRAINT [DF_ExamTasks_CreatedAt]
GO
ALTER TABLE [dbo].[ExamTasks] DROP CONSTRAINT [DF_ExamTasks_IsCorrect]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [DF_Exams_ScorePercent]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [DF_Exams_CorrectTasks]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [DF_Exams_TotalTasks]
GO
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [DF_Exams_ImportedAt]
GO
ALTER TABLE [dbo].[ExamImports] DROP CONSTRAINT [DF_ExamImports_ErrorCount]
GO
ALTER TABLE [dbo].[ExamImports] DROP CONSTRAINT [DF_ExamImports_TotalTasks]
GO
ALTER TABLE [dbo].[ExamImports] DROP CONSTRAINT [DF_ExamImports_TotalExams]
GO
ALTER TABLE [dbo].[ExamImports] DROP CONSTRAINT [DF_ExamImports_ImportedAt]
GO
/****** Object:  Index [UQ_Teachers_TeacherCode]    Script Date: 08.02.2026 4:45:25 PM ******/
ALTER TABLE [dbo].[Teachers] DROP CONSTRAINT [UQ_Teachers_TeacherCode]
GO
/****** Object:  Index [IX_Students_TeacherId]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP INDEX [IX_Students_TeacherId] ON [dbo].[Students]
GO
/****** Object:  Index [UQ_Students_Teacher_StudentCode]    Script Date: 08.02.2026 4:45:25 PM ******/
ALTER TABLE [dbo].[Students] DROP CONSTRAINT [UQ_Students_Teacher_StudentCode]
GO
/****** Object:  Index [IX_ExamTasks_ExamId]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP INDEX [IX_ExamTasks_ExamId] ON [dbo].[ExamTasks]
GO
/****** Object:  Index [UQ_ExamTasks_Exam_Task]    Script Date: 08.02.2026 4:45:25 PM ******/
ALTER TABLE [dbo].[ExamTasks] DROP CONSTRAINT [UQ_ExamTasks_Exam_Task]
GO
/****** Object:  Index [IX_Exams_Student_ImportedAt]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP INDEX [IX_Exams_Student_ImportedAt] ON [dbo].[Exams]
GO
/****** Object:  Index [UQ_Exams_Import_Student_Exam]    Script Date: 08.02.2026 4:45:25 PM ******/
ALTER TABLE [dbo].[Exams] DROP CONSTRAINT [UQ_Exams_Import_Student_Exam]
GO
/****** Object:  Index [UQ_ExamImports_ImportGuid]    Script Date: 08.02.2026 4:45:25 PM ******/
ALTER TABLE [dbo].[ExamImports] DROP CONSTRAINT [UQ_ExamImports_ImportGuid]
GO
/****** Object:  Table [dbo].[ExamTasks]    Script Date: 08.02.2026 4:45:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExamTasks]') AND type in (N'U'))
DROP TABLE [dbo].[ExamTasks]
GO
/****** Object:  Table [dbo].[ExamImports]    Script Date: 08.02.2026 4:45:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExamImports]') AND type in (N'U'))
DROP TABLE [dbo].[ExamImports]
GO
/****** Object:  View [dbo].[vwStudentExamSummary]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP VIEW [dbo].[vwStudentExamSummary]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 08.02.2026 4:45:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exams]') AND type in (N'U'))
DROP TABLE [dbo].[Exams]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 08.02.2026 4:45:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Students]') AND type in (N'U'))
DROP TABLE [dbo].[Students]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 08.02.2026 4:45:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teachers]') AND type in (N'U'))
DROP TABLE [dbo].[Teachers]
GO
/****** Object:  UserDefinedTableType [dbo].[udtv_ExamTaskInput]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP TYPE [dbo].[udtv_ExamTaskInput]
GO
/****** Object:  UserDefinedTableType [dbo].[udtt_ExamTaskImport]    Script Date: 08.02.2026 4:45:25 PM ******/
DROP TYPE [dbo].[udtt_ExamTaskImport]
GO
/****** Object:  UserDefinedTableType [dbo].[udtt_ExamTaskImport]    Script Date: 08.02.2026 4:45:25 PM ******/
CREATE TYPE [dbo].[udtt_ExamTaskImport] AS TABLE(
	[TeacherExternalId] [nvarchar](50) NULL,
	[StudentExternalId] [nvarchar](50) NOT NULL,
	[ExamExternalId] [nvarchar](50) NOT NULL,
	[TaskExternalId] [nvarchar](50) NOT NULL,
	[TaskText] [nvarchar](4000) NULL,
	[ExpressionText] [nvarchar](2000) NOT NULL,
	[StudentAnswerText] [nvarchar](200) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[udtv_ExamTaskInput]    Script Date: 08.02.2026 4:45:25 PM ******/
CREATE TYPE [dbo].[udtv_ExamTaskInput] AS TABLE(
	[TaskCode] [nvarchar](50) NULL,
	[OriginalText] [nvarchar](4000) NULL,
	[ExpressionText] [nvarchar](2000) NULL,
	[StudentAnswerText] [nvarchar](2000) NULL,
	[CorrectAnswer] [decimal](18, 6) NULL,
	[IsCorrect] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](2000) NULL
)
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 08.02.2026 4:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 08.02.2026 4:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[StudentCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[ClassName] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 08.02.2026 4:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamImportId] [bigint] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[ExamCode] [nvarchar](50) NOT NULL,
	[ImportedAtUtc] [datetime2](0) NOT NULL,
	[TotalTasks] [int] NOT NULL,
	[CorrectTasks] [int] NOT NULL,
	[ScorePercent] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwStudentExamSummary]    Script Date: 08.02.2026 4:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   View (Analytics)
   ========================= */

CREATE   VIEW [dbo].[vwStudentExamSummary]
AS
SELECT
    t.TeacherCode,
    s.StudentCode,
    e.ExamId,
    e.ExamCode,
    e.ImportedAtUtc,
    e.TotalTasks,
    e.CorrectTasks,
    e.ScorePercent
FROM dbo.Exams e
JOIN dbo.Students s ON s.StudentId = e.StudentId
JOIN dbo.Teachers t ON t.TeacherId = e.TeacherId;
GO
/****** Object:  Table [dbo].[ExamImports]    Script Date: 08.02.2026 4:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamImports](
	[ExamImportId] [bigint] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[ImportGuid] [uniqueidentifier] NOT NULL,
	[SourceFileName] [nvarchar](260) NULL,
	[ImportedAtUtc] [datetime2](0) NOT NULL,
	[TotalExams] [int] NOT NULL,
	[TotalTasks] [int] NOT NULL,
	[ErrorCount] [int] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ExamImports] PRIMARY KEY CLUSTERED 
(
	[ExamImportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTasks]    Script Date: 08.02.2026 4:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTasks](
	[ExamTaskId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamId] [bigint] NOT NULL,
	[TaskCode] [nvarchar](50) NULL,
	[OriginalText] [nvarchar](4000) NULL,
	[ExpressionText] [nvarchar](2000) NULL,
	[StudentAnswerText] [nvarchar](2000) NULL,
	[CorrectAnswer] [decimal](18, 6) NULL,
	[IsCorrect] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](2000) NULL,
	[CreatedAtUtc] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ExamTasks] PRIMARY KEY CLUSTERED 
(
	[ExamTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExamImports] ON 

INSERT [dbo].[ExamImports] ([ExamImportId], [TeacherId], [ImportGuid], [SourceFileName], [ImportedAtUtc], [TotalExams], [TotalTasks], [ErrorCount], [Notes]) VALUES (1, 1, N'11111111-1111-1111-1111-111111111111', N'test.xml', CAST(N'2026-02-07T10:11:49.0000000' AS DateTime2), 0, 0, 0, NULL)
INSERT [dbo].[ExamImports] ([ExamImportId], [TeacherId], [ImportGuid], [SourceFileName], [ImportedAtUtc], [TotalExams], [TotalTasks], [ErrorCount], [Notes]) VALUES (2, 1, N'd80e5fd5-1c63-4158-a3ea-438a3571392a', N'ImportedFromUI.xml', CAST(N'2026-02-07T13:24:44.0000000' AS DateTime2), 0, 0, 0, NULL)
INSERT [dbo].[ExamImports] ([ExamImportId], [TeacherId], [ImportGuid], [SourceFileName], [ImportedAtUtc], [TotalExams], [TotalTasks], [ErrorCount], [Notes]) VALUES (3, 1, N'5775595a-59e5-4a39-8036-9ff4244d09f5', N'ImportedFromUI.xml', CAST(N'2026-02-07T13:36:58.0000000' AS DateTime2), 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[ExamImports] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamId], [ExamImportId], [TeacherId], [StudentId], [ExamCode], [ImportedAtUtc], [TotalTasks], [CorrectTasks], [ScorePercent]) VALUES (1, 1, 1, 1, N'1', CAST(N'2026-02-07T10:13:00.0000000' AS DateTime2), 2, 1, CAST(50.00 AS Decimal(5, 2)))
INSERT [dbo].[Exams] ([ExamId], [ExamImportId], [TeacherId], [StudentId], [ExamCode], [ImportedAtUtc], [TotalTasks], [CorrectTasks], [ScorePercent]) VALUES (2, 2, 1, 2, N'EX-1', CAST(N'2026-02-07T13:24:44.0000000' AS DateTime2), 4, 4, CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[Exams] ([ExamId], [ExamImportId], [TeacherId], [StudentId], [ExamCode], [ImportedAtUtc], [TotalTasks], [CorrectTasks], [ScorePercent]) VALUES (3, 2, 1, 3, N'EX-1', CAST(N'2026-02-07T13:24:44.0000000' AS DateTime2), 4, 2, CAST(50.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamTasks] ON 

INSERT [dbo].[ExamTasks] ([ExamTaskId], [ExamId], [TaskCode], [OriginalText], [ExpressionText], [StudentAnswerText], [CorrectAnswer], [IsCorrect], [ErrorMessage], [CreatedAtUtc]) VALUES (4, 1, N'1', N'2+3=5', N'2+3', N'5', CAST(5.000000 AS Decimal(18, 6)), 1, NULL, CAST(N'2026-02-07T10:13:30.0000000' AS DateTime2))
INSERT [dbo].[ExamTasks] ([ExamTaskId], [ExamId], [TaskCode], [OriginalText], [ExpressionText], [StudentAnswerText], [CorrectAnswer], [IsCorrect], [ErrorMessage], [CreatedAtUtc]) VALUES (5, 1, N'2', N'6/4=1', N'6/4', N'1', CAST(1.500000 AS Decimal(18, 6)), 0, N'Wrong answer', CAST(N'2026-02-07T10:13:30.0000000' AS DateTime2))
INSERT [dbo].[ExamTasks] ([ExamTaskId], [ExamId], [TaskCode], [OriginalText], [ExpressionText], [StudentAnswerText], [CorrectAnswer], [IsCorrect], [ErrorMessage], [CreatedAtUtc]) VALUES (6, 2, N'1', N'2+3 = 5', N'2+3', N'5', CAST(5.000000 AS Decimal(18, 6)), 1, NULL, CAST(N'2026-02-07T13:24:44.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ExamTasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [TeacherId], [StudentCode], [FullName], [ClassName], [IsActive], [CreatedAtUtc]) VALUES (1, 1, N'12345', N'Test Student', N'VII-1', 1, CAST(N'2026-02-07T10:12:37.0000000' AS DateTime2))
INSERT [dbo].[Students] ([StudentId], [TeacherId], [StudentCode], [FullName], [ClassName], [IsActive], [CreatedAtUtc]) VALUES (2, 1, N'STU-001', NULL, NULL, 1, CAST(N'2026-02-07T13:24:44.0000000' AS DateTime2))
INSERT [dbo].[Students] ([StudentId], [TeacherId], [StudentCode], [FullName], [ClassName], [IsActive], [CreatedAtUtc]) VALUES (3, 1, N'STU-002', NULL, NULL, 1, CAST(N'2026-02-07T13:24:44.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TeacherId], [TeacherCode], [FullName], [Email], [IsActive], [CreatedAtUtc]) VALUES (1, N'11111', N'Test Teacher', N'teacher@test.com', 1, CAST(N'2026-02-07T09:47:11.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
/****** Object:  Index [UQ_ExamImports_ImportGuid]    Script Date: 08.02.2026 4:45:26 PM ******/
ALTER TABLE [dbo].[ExamImports] ADD  CONSTRAINT [UQ_ExamImports_ImportGuid] UNIQUE NONCLUSTERED 
(
	[ImportGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Exams_Import_Student_Exam]    Script Date: 08.02.2026 4:45:26 PM ******/
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [UQ_Exams_Import_Student_Exam] UNIQUE NONCLUSTERED 
(
	[ExamImportId] ASC,
	[StudentId] ASC,
	[ExamCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exams_Student_ImportedAt]    Script Date: 08.02.2026 4:45:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Exams_Student_ImportedAt] ON [dbo].[Exams]
(
	[StudentId] ASC,
	[ImportedAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ExamTasks_Exam_Task]    Script Date: 08.02.2026 4:45:26 PM ******/
ALTER TABLE [dbo].[ExamTasks] ADD  CONSTRAINT [UQ_ExamTasks_Exam_Task] UNIQUE NONCLUSTERED 
(
	[ExamId] ASC,
	[TaskCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamTasks_ExamId]    Script Date: 08.02.2026 4:45:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExamTasks_ExamId] ON [dbo].[ExamTasks]
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Students_Teacher_StudentCode]    Script Date: 08.02.2026 4:45:26 PM ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [UQ_Students_Teacher_StudentCode] UNIQUE NONCLUSTERED 
(
	[TeacherId] ASC,
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_TeacherId]    Script Date: 08.02.2026 4:45:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Students_TeacherId] ON [dbo].[Students]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Teachers_TeacherCode]    Script Date: 08.02.2026 4:45:26 PM ******/
ALTER TABLE [dbo].[Teachers] ADD  CONSTRAINT [UQ_Teachers_TeacherCode] UNIQUE NONCLUSTERED 
(
	[TeacherCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamImports] ADD  CONSTRAINT [DF_ExamImports_ImportedAt]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[ExamImports] ADD  CONSTRAINT [DF_ExamImports_TotalExams]  DEFAULT ((0)) FOR [TotalExams]
GO
ALTER TABLE [dbo].[ExamImports] ADD  CONSTRAINT [DF_ExamImports_TotalTasks]  DEFAULT ((0)) FOR [TotalTasks]
GO
ALTER TABLE [dbo].[ExamImports] ADD  CONSTRAINT [DF_ExamImports_ErrorCount]  DEFAULT ((0)) FOR [ErrorCount]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_ImportedAt]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_TotalTasks]  DEFAULT ((0)) FOR [TotalTasks]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_CorrectTasks]  DEFAULT ((0)) FOR [CorrectTasks]
GO
ALTER TABLE [dbo].[Exams] ADD  CONSTRAINT [DF_Exams_ScorePercent]  DEFAULT ((0)) FOR [ScorePercent]
GO
ALTER TABLE [dbo].[ExamTasks] ADD  CONSTRAINT [DF_ExamTasks_IsCorrect]  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[ExamTasks] ADD  CONSTRAINT [DF_ExamTasks_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Teachers] ADD  CONSTRAINT [DF_Teachers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Teachers] ADD  CONSTRAINT [DF_Teachers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[ExamImports]  WITH CHECK ADD  CONSTRAINT [FK_ExamImports_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[ExamImports] CHECK CONSTRAINT [FK_ExamImports_Teachers]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_ExamImports] FOREIGN KEY([ExamImportId])
REFERENCES [dbo].[ExamImports] ([ExamImportId])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_ExamImports]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Students]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Teachers]
GO
ALTER TABLE [dbo].[ExamTasks]  WITH CHECK ADD  CONSTRAINT [FK_ExamTasks_Exams] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([ExamId])
GO
ALTER TABLE [dbo].[ExamTasks] CHECK CONSTRAINT [FK_ExamTasks_Exams]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Teachers]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddExamTask]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddExamTask]
    @ExamId            BIGINT,
    @TaskCode          NVARCHAR(50) = NULL,
    @OriginalText      NVARCHAR(4000) = NULL,
    @ExpressionText    NVARCHAR(2000) = NULL,
    @StudentAnswerText NVARCHAR(2000) = NULL,
    @CorrectAnswer     DECIMAL(18,6) = NULL,
    @IsCorrect         BIT = 0,
    @ErrorMessage      NVARCHAR(2000) = NULL,
    @ExamTaskId        BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Existing BIGINT;

    SELECT @Existing = ExamTaskId
    FROM dbo.ExamTasks
    WHERE ExamId = @ExamId AND ISNULL(TaskCode,'') = ISNULL(@TaskCode,'');

    IF @Existing IS NULL
    BEGIN
        INSERT INTO dbo.ExamTasks
        (
            ExamId, TaskCode, OriginalText, ExpressionText, StudentAnswerText,
            CorrectAnswer, IsCorrect, ErrorMessage
        )
        VALUES
        (
            @ExamId, @TaskCode, @OriginalText, @ExpressionText, @StudentAnswerText,
            @CorrectAnswer, @IsCorrect, @ErrorMessage
        );

        SET @ExamTaskId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE dbo.ExamTasks
        SET
            OriginalText      = COALESCE(@OriginalText, OriginalText),
            ExpressionText    = COALESCE(@ExpressionText, ExpressionText),
            StudentAnswerText = COALESCE(@StudentAnswerText, StudentAnswerText),
            CorrectAnswer     = COALESCE(@CorrectAnswer, CorrectAnswer),
            IsCorrect         = COALESCE(@IsCorrect, IsCorrect),
            ErrorMessage      = COALESCE(@ErrorMessage, ErrorMessage)
        WHERE ExamTaskId = @Existing;

        SET @ExamTaskId = @Existing;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddExamTasks_Batch]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddExamTasks_Batch]
    @ExamId BIGINT,
    @Tasks dbo.udtv_ExamTaskInput READONLY
AS
BEGIN
    SET NOCOUNT ON;

    INSERT dbo.ExamTasks
    (
        ExamId,
        TaskCode,
        OriginalText,
        ExpressionText,
        StudentAnswerText,
        CorrectAnswer,
        IsCorrect,
        ErrorMessage,
        CreatedAtUtc
    )
    SELECT
        @ExamId,
        TaskCode,
        OriginalText,
        ExpressionText,
        StudentAnswerText,
        CorrectAnswer,
        IsCorrect,
        ErrorMessage,
        SYSUTCDATETIME()
    FROM @Tasks;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExam]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateExam]
    @ExamImportId BIGINT,
    @TeacherId    INT,
    @StudentId    INT,
    @ExamCode     NVARCHAR(50),
    @ExamId       BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @ExamId = ExamId
    FROM dbo.Exams
    WHERE ExamImportId = @ExamImportId AND StudentId = @StudentId AND ExamCode = @ExamCode;

    IF @ExamId IS NULL
    BEGIN
        INSERT INTO dbo.Exams(ExamImportId, TeacherId, StudentId, ExamCode)
        VALUES (@ExamImportId, @TeacherId, @StudentId, @ExamCode);

        SET @ExamId = SCOPE_IDENTITY();
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateImport]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateImport]
    @TeacherId      INT,
    @ImportGuid     UNIQUEIDENTIFIER,
    @SourceFileName NVARCHAR(260) = NULL,
    @ExamImportId   BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.ExamImports(TeacherId, ImportGuid, SourceFileName)
    VALUES (@TeacherId, @ImportGuid, @SourceFileName);

    SET @ExamImportId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExamDetails]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetExamDetails]
    @ExamId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        e.ExamId,
        e.ExamCode,
        e.ImportedAtUtc,
        e.TotalTasks,
        e.CorrectTasks,
        e.ScorePercent,
        t.TaskCode,
        t.OriginalText,
        t.ExpressionText,
        t.StudentAnswerText,
        t.CorrectAnswer,
        t.IsCorrect,
        t.ErrorMessage
    FROM dbo.Exams e
    LEFT JOIN dbo.ExamTasks t ON t.ExamId = e.ExamId
    WHERE e.ExamId = @ExamId
    ORDER BY TRY_CONVERT(INT, t.TaskCode), t.ExamTaskId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentExams]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetStudentExams]
    @StudentCode NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.StudentCode,
        e.ExamId,
        e.ExamCode,
        e.ImportedAtUtc,
        e.TotalTasks,
        e.CorrectTasks,
        e.ScorePercent
    FROM dbo.Exams e
    JOIN dbo.Students s ON s.StudentId = e.StudentId
    WHERE s.StudentCode = @StudentCode
    ORDER BY e.ImportedAtUtc DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RecalcExamSummary]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RecalcExamSummary]
    @ExamId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Total INT = 0, @Correct INT = 0;

    SELECT
        @Total = COUNT(1),
        @Correct = SUM(CASE WHEN IsCorrect = 1 THEN 1 ELSE 0 END)
    FROM dbo.ExamTasks
    WHERE ExamId = @ExamId;

    UPDATE dbo.Exams
    SET
        TotalTasks = ISNULL(@Total,0),
        CorrectTasks = ISNULL(@Correct,0),
        ScorePercent = CASE WHEN ISNULL(@Total,0) = 0 THEN 0
                            ELSE CAST(ISNULL(@Correct,0) * 100.0 / @Total AS DECIMAL(5,2))
                       END
    WHERE ExamId = @ExamId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertStudent]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpsertStudent]
    @TeacherId   INT,
    @StudentCode NVARCHAR(50),
    @FullName    NVARCHAR(200) = NULL,
    @ClassName   NVARCHAR(50)  = NULL,
    @StudentId   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @StudentId = StudentId
    FROM dbo.Students
    WHERE TeacherId = @TeacherId AND StudentCode = @StudentCode;

    IF @StudentId IS NULL
    BEGIN
        INSERT INTO dbo.Students(TeacherId, StudentCode, FullName, ClassName)
        VALUES (@TeacherId, @StudentCode, @FullName, @ClassName);

        SET @StudentId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE dbo.Students
        SET
            FullName  = COALESCE(@FullName, FullName),
            ClassName = COALESCE(@ClassName, ClassName)
        WHERE StudentId = @StudentId;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertTeacher]    Script Date: 08.02.2026 4:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpsertTeacher]
    @TeacherCode NVARCHAR(50),
    @FullName    NVARCHAR(200) = NULL,
    @Email       NVARCHAR(200) = NULL,
    @TeacherId   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @TeacherId = TeacherId
    FROM dbo.Teachers
    WHERE TeacherCode = @TeacherCode;

    IF @TeacherId IS NULL
    BEGIN
        INSERT INTO dbo.Teachers(TeacherCode, FullName, Email)
        VALUES (@TeacherCode, @FullName, @Email);

        SET @TeacherId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE dbo.Teachers
        SET
            FullName = COALESCE(@FullName, FullName),
            Email    = COALESCE(@Email, Email)
        WHERE TeacherId = @TeacherId;
    END
END
GO
